


    
    
    

    <div class="container" >
        <h2 style="text-align: center;" class="text-info">Welcome Admin....!</h2>
        <table class="table" style="width: 100%;">
            <tr style="text-align: center;">
                <td><span class="text-info"><a [routerLink]="['/flight']">Manage Flight</a></span></td>
                <td><span class="text-info"><a [routerLink]="['/flightSchedule']">Manage Schedule Flight</a></span></td>
                
            </tr>
        </table>
        <router-outlet></router-outlet>
    </div>



   
   